.AboutMe
{

}

.AboutMe-Head
{
    display: flex;
    flex-direction: column;
}

.AboutMe-Head > p
{
    padding: 2em 3em 2em 3em;
}

.AboutMe-Head > img
{
    align-self: center;

    width: 80%;
    min-width: 10em;
    max-width: 25em;

    margin: 0.5em;

    clip-path: circle(50%);
}

@media (min-width: 600px) 
{
    .AboutMe-Head
    {
        flex-direction: row;
    }

    .AboutMe-Head > img
    {
        width: 25%;
    }
    
    .AboutMe-Head > p
    {
        padding: 2em 0 2em 3em;
    }
}
