.Home
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-TextContainer
{
    padding: 3em 4em 3em 3em;
}

.Home > img
{
    width: 90%;
    max-width: 100%;

    clip-path: ellipse(50% 50%);
}

@media (min-width: 600px) 
{
    .Home
    {
        flex-direction: row;
    }
    
    .Home-TextContainer
    {
        margin: 1em 0 0 0;
    }

    .Home > img
    {
        width: 40%;
        max-width: 20em;
    }
}