.ProjectItem
{
    width: 20em;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1.8em auto 2em;

    border: 1px solid var(--theme-border);
    border-radius: 5px;
    
    animation-name: scalein;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes scalein
{
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}

.ProjectItem-Title
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    height: fit-content;
    margin: 5px;

    color: var(--theme-text-0);
    text-decoration: none;
}

.ProjectItem-Title:hover
{
    text-decoration: underline;
}

.ProjectItem-Description
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin: 5px;
    font-size: 0.9em;
}

.ProjectItem-TagBox
{
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin: 5px 5px 5px 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.ProjectItem-Tag
{
    height: fit-content;
    margin: 0;
    font-size: 0.5em;
    color: var(--theme-text-1);
}

.ProjectItem-Image
{
    grid-column: 2 / 3;
    grid-row: 1 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 8em;
}

