@keyframes expandY
{
    from {
        transform: translateY(-100%) scaleY(0%);
    }

    to {
        transition: translateY(0%) scaleY(100%);
    }
}

@keyframes expandX
{
    from {
        transform: translateX(-100%) scaleX(0%);
    }

    to {
        transition: translateX(0%) scaleX(100%);
    }
}

.Nav-expand-y-anim
{
    animation-duration: 0.35s;
    animation-name: expandY;
}

.Nav-expand-x-anim
{
    animation-duration: 0.35s;
    animation-name: expandX;
}

.Nav-contract-y-anim
{
    transition-duration: 0.35s;
    transform: translateY(-100%) scaleY(0%);
}

.Nav-contract-x-anim
{
    transition-duration: 0.35s;
    transform: translateX(-100%) scaleX(0%);
}

.Nav
{
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em;

    text-align: center;

    display: flex;
}

.Nav > button
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.Nav > button > svg
{
    width: 2em;
    height: 2em;
}

.Nav > a
{
    text-decoration: none;
    color: var(--theme-text);
    border-radius: 5px;
    padding: 0 15px 0 15px;
    height: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav > a:hover
{
    background-color: var(--theme-link-hover);
    text-decoration: underline;
}

.Nav-ThisLocation
{
    background-color: var(--theme-link-active);
    padding: 3px;
}

.Nav-Landscape
{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Nav-Portrait
{
    flex-direction: column;
    justify-content: flex-start;
}

.Nav-Portrait-min
{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
    
    padding: 0.4em;
}
