.Nav
{
    width: 100%;
    box-sizing: border-box;
    padding: 1em;

    text-align: center;

    display: flex;
}

.Nav > button
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.Nav > button > svg
{
    width: 2em;
    height: 2em;
}

.Nav > a
{
    text-decoration: none;
    color: var(--theme-text);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}

.Nav > a:hover
{
    background-color: var(--theme-link-hover);
    text-decoration: underline;
}

.Nav-ThisLocation
{
    background-color: var(--theme-link-active);
    padding: 3px;
}

.Nav-Landscape
{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.3em;
}

.Nav-Portrait
{
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5em;
}

.Nav-Portrait-min
{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
    
    padding: 0.4em;
}
