.Project
{
    padding: 0 15px 0 15px;
}

.Project h1
{
    margin-top: 0;
}

.Project p
{
    margin: 10px 0 10px 0;

    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Project img
{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid #cfcfcf;
    box-shadow: 2px 2px 5px 1px #dddddd;
}

@media (min-width: 600px) 
{
    .Project img
    {
        width: 49%;
    }
}

.Project blockquote > h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child
{
    margin-top: 10px;
}

.Project blockquote > h1,h2,h3,h4,h5
{
    margin-top: 15px;
}

.Project ul > li
{
    padding-left: 8px;
}

.Project ul
{
    margin: 10px 0 10px 0;
    list-style-type: '-';
    padding-inline-start: 30px;
}

.Project h1, h2, h3, h4, h5, h6
{
    margin-bottom: 5px;
}

.Project blockquote
{
    padding: 5px 5px 5px 10px;

    background-color: #EEEEEE;

    border-left: 0.5em solid #CCCCCC;

    box-shadow: 3px 2px 2px #CCCCCC;
}
