.ProjectItem
{
    width: 18em;

    padding: 0 0 8px 0;
    gap: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    box-shadow: 0 8px 18px 0 rgb(0 0 0 / 12%);
    transition: 0.2s ease-in-out;
}

.ProjectItem-scaleIn 
{
    animation-name: scalein;
    animation-duration: 1s;
}

.ProjectItem:hover
{
    transform: scale(1.03);
}

@keyframes hoverscale
{
    to {
        transform: scale(1.03);
    }
}

@keyframes scalein
{
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}

.ProjectItem > *:not(img)
{
    margin: 0 10px;
}

.ProjectItem-Title
{
    height: fit-content;
}

.ProjectItem-Title > a
{
    color: var(--theme-text-0);
    text-decoration: none;
}

.ProjectItem-Title:hover
{
    text-decoration: underline;
}

.ProjectItem-Description
{
    font-size: 0.9em;
}

.ProjectItem-TagBox
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.ProjectItem-Tag
{
    height: fit-content;
    margin: 0;
    font-size: 0.5em;
    color: var(--theme-text-1);
}

.ProjectItem-Image
{
    width: 100%;
    height: 15em;

    object-fit: cover;
    object-position: top;
}

