.ContactMe
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ContactMe > div
{
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

@media (min-width: 600px) 
{
    .ContactMe > div
    {
        width: 40%;
        min-width: 25em;
        max-width: 50em;
    }
}